/* 
    Document   : styles
    Version    : 2011.0624
    Author     : Marek Osvald
    Description:
        Stylesheets for web application
*/

* {
    color: #333;
    font-family: "Calibri, Verdana, Helvetica, sans-serif";
}

body {
    background-color: #333;
    text-align: center;
    margin: 0px;
}

#content {
    width: 950px;
    min-height: 700px; /* TODO: DELETE ME */
    background-color: #fff;
    text-align: left;

    margin: auto;
    border: 1px solid gold;
}

